@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Bold.eot');
	src: url('../fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-Bold.woff2') format('woff2'),
		url('../fonts/Raleway-Bold.woff') format('woff'),
		url('../fonts/Raleway-Bold.ttf') format('truetype'),
		url('../fonts/Raleway-Bold.svg#Raleway-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Bold.eot');
	src: url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSans-Bold.woff2') format('woff2'),
		url('../fonts/OpenSans-Bold.woff') format('woff'),
		url('../fonts/OpenSans-Bold.ttf') format('truetype'),
		url('../fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Regular.eot');
	src: url('../fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-Regular.woff2') format('woff2'),
		url('../fonts/Raleway-Regular.woff') format('woff'),
		url('../fonts/Raleway-Regular.ttf') format('truetype'),
		url('../fonts/Raleway-Regular.svg#Raleway-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans.eot');
	src: url('../fonts/OpenSans.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSans.woff2') format('woff2'),
		url('../fonts/OpenSans.woff') format('woff'),
		url('../fonts/OpenSans.ttf') format('truetype'),
		url('../fonts/OpenSans.svg#OpenSans') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-SemiBold.eot');
	src: url('../fonts/Raleway-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-SemiBold.woff2') format('woff2'),
		url('../fonts/Raleway-SemiBold.woff') format('woff'),
		url('../fonts/Raleway-SemiBold.ttf') format('truetype'),
		url('../fonts/Raleway-SemiBold.svg#Raleway-SemiBold') format('svg');
	font-weight: 600;
	font-style: normal;
}
@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?6676984');
  src: url('../fonts/fontello.eot?6676984#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff2?6676984') format('woff2'),
       url('../fonts/fontello.woff?6676984') format('woff'),
       url('../fonts/fontello.ttf?6676984') format('truetype'),
       url('../fonts/fontello.svg?6676984#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
	margin: 0;
	font-size: 10px;
}
header {
	padding-bottom: 75px;
	background-image: url("../images/header-background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #000000;
	color: white;

}
header nav, section {
	width: 1168px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
}
header nav {
	border-bottom: 1px solid rgba(255, 255, 255, .15);
}
header nav {
	padding: 32.5px 0;
}
header .logo {
	float: left;
	text-decoration: none;
	background-image: url("../images/logo.png");
	width: 189px;
	height: 24px;
	font-size: 0;
	line-height: 0;
	margin-top: 6px;
}
header nav ul {
	float:right;
	list-style: none;
}
header nav ul li {
	float: left;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	font-size: 1.3em;
	line-height: auto;
}
header nav ul li a {
	color: rgba(255, 255, 255, 0.75);
	text-decoration: none;
}
header nav ul li a:hover {
	text-shadow: 0 0 15px #ffffff;
}
header nav ul li + li {
	margin-left: 59px;
}
.slide h1 {
	color: inherit;
	padding: 0;
	text-transform: uppercase;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 6.5em;
	line-height: 71px;
	margin: 152px 10% 0 10%;
}
.slide p {
	font-family: 'Raleway', sans-serif;
	font-size: 2.2em;
	margin: 2% 10%;
	text-align: center;
}
.slidebutton {
	display: block;
	width: 200px;
	height: 30px;
	margin: 80px auto;
	padding: 15px 0 0 0;
	background-color: #E84545;
	border-radius: 3px;
	font-family: 'Raleway';
	font-weight: 600;
	font-size: 1.3em;
	text-align: center;
	color: inherit;
	text-decoration: none;
	text-transform: uppercase;
}
.slidebutton:hover {
	box-shadow: 0 0 20px #E84545;
}
.info {
	margin: 121px auto 52px auto;
}
.info article {
	width: 25.333%;
	float: left;
	margin: 0 4% 57px 4%;
	text-align: center;
}
.info article a {
	display: block;
  width: 100%;
  text-decoration: none;
}
.info article a:hover i {
	transform: scale(0.96);
}
.info article i {
	margin-bottom: 31.5px;
	color: white;
	margin-left: auto;
	margin-right: auto;
}
.sprite {
  background-image: url(../images/spritesheet.png);
  background-repeat: no-repeat;
  display: block;
  width: 79px;
  height: 60px;
}
.sprite-icon1 {
    background-position: 0 0;
}
.sprite-icon2 {
    background-position: -79px 0;
}
.sprite-icon3 {
    background-position: 0 -60px;
}
.sprite-icon4 {
    background-position: -79px -60px;
}
.sprite-icon5 {
    background-position: -158px 0;
}
.sprite-icon6 {
    background-position: -158px -60px;
}
.info article h2 {
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	font-size: 1.4em;
	color: #2d3033;
	text-transform: uppercase;
}
.info article p {
	font-family: 'Raleway';
	font-size: 1.4em;
	margin: 19px 0;
	color: #6c7279;
	line-height: 21px;
	max-height: 57px;
	max-width: 296px;
	overflow: hidden;
}
.projects {
	width: 100%;
	min-width: 1168px;
	font-size: 0;
	text-align: center;
}
.projects figure {
	position: relative;
	float: left;
	width: 25.625%;
	margin: 0;
	padding: 0;
}
.projects figure:first-child, .projects figure:nth-child(4), .projects figure:nth-child(5), .projects figure:last-child {
	width: 24.375%;
}
.projects figure img {
	width: 100%;
	height: 350px;
	border: 1px solid white;
	background-color: #2b2e4a;
}
.projects figure:nth-child(4) ~ figure img {
	border-top: none;
}
.projects figure .popup {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(232,69,69,.9);
	font-size: 18px;
	text-decoration: none;
}
.projects figure .popup a {
	display: block;
	width: 100%;
	height: 100%;
	padding-top: 152px;
	color: white;
	text-decoration: none;
}
.projects figure .popup a h3 {
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	font-size: 14px;
	line-height: 21px;
	margin:0;
}
.projects figure .popup a p {
	text-transform: capitalize;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	margin-top: 6px;
}
.projects figure:hover .popup {
	display: block;
}
.team {
	width:1170px;
	padding-top: 100px;
	padding-bottom: 118px;
}
.person {
	float: left;
	width: 270px;
	margin-left: 30px;
	font-family: 'Raleway', sans-serif;
	font-style: normal;
}
.person:first-child {
	margin-left: 0;
}
.person .avatar{
	width: 270px;
	height: 270px;
}
.person .person-name {
	margin-top: 26px;
	margin-bottom: 6px;
	font-size: 22px;
	font-weight: normal;
	color: #2d3033;
}
.person .office {
	margin-top: 0;
	margin-bottom: 22px;
	font-size: 13px;
	font-weight: normal;
	text-transform: uppercase;
	color: #e84545;
}
.person .person-about {
	font-size: 14px;
	line-height: 21px;
	letter-spacing: 0.2px;
	color: #6c7279;
}
.person ul {
	margin-top: 24px;
	padding-left: 0;
}
.person ul li {
	display: inline-block;
	list-style: none;
}
.soclink {
    display: block;
    width: 39px;
    height: 39px;
    background-image: url(../images/person-soc.png);
    background-repeat: no-repeat;
    border: 1px solid #e8ecee;
}
.soclink:hover {
  background-color: #3b5998;
}
.sprite-fb {
    background-position: 0 0;
}
.sprite-in {
    background-position: -40px 0;
}
.sprite-twit {
    background-position: 0 -40px;
}
footer section {
	width: 100%;
	background-color: rgb(58, 62, 100);
}
footer section div {
	width: 1168px;
	margin: 30px auto 62px auto;
	overflow: hidden;
}
footer section article {
	width: 27.1%;
	float: left;
	padding: 2% 3%;
	text-align: center;
	color: white;
}
footer h3 {
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
}
footer p {
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	line-height: 22.5px;
	margin: 0 auto;
	color: rgba(255, 255, 255, .5);
}
footer .location p {
	max-width: 150px;
}
footer .about p {
	width: 330px;
}
footer .social ul {
	padding-left: 7px;
	margin-top:18px;
	font-size: 0;
}
footer .social ul li {
	display: inline-block;
	list-style: none;
	text-align: center;
}
footer .social ul li:nth-child(2) {
	padding: 0 5px;
}
footer .social ul li a {
	display: block;
	padding: 9px;
	border: 2px solid white;
}
footer .social ul li a:hover {
	background-color: #3b5998;
}
.spritesoc {
	display: block;
	background-image: url(../images/spritesoc.png);
  background-repeat: no-repeat;
  width: 20px;
	height: 20px;
}
.sprite-facebook {
  background-position: 0 0;
}
.sprite-insta {
  background-position: -20px 0;
}
.sprite-twitter {
  background-position: 0 -20px;
}
footer .copyright{
	width: 100%;
	background-color: rgb(49, 52, 84);
	text-align: center;

}
footer .copyright article {
	width: 1168px;
	float: none;
	margin: 0 auto;
	text-align: center;
	padding-top: 24px;
	padding-bottom: 30px;
}
footer .copyright article p {
	padding: 0 36%;
}
footer .copyright article p a {
	text-decoration: none;
	color: #ffffff;
}
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
}
.icon-heart:before {
	content: '\e800';
	color: #e84545;
}
